WORKFLOWS/feed_updates/github_update/workflow.json
{
  "nodes": [
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "014fe918-7cf5-4a8d-ad69-eaf8c1e89606",
              "name": "title",
              "value": "={{ $json.body.head_commit.message.split('\\n')[0] }}",
              "type": "string"
            },
            {
              "id": "0737c79b-ee39-4fd3-88b2-907ab58035a4",
              "name": "issuer",
              "value": "={{ $json.body.repository.name }}",
              "type": "string"
            },
            {
              "id": "a55bfa7d-5c7b-442f-bf98-0b2ff6655486",
              "name": "content",
              "value": "={{ $json.body.commits.map(commit => commit.message).join('\\n\\n') }}",
              "type": "string"
            },
            {
              "id": "e28e885b-e4f5-48f0-ac6d-7640b90121e8",
              "name": "url",
              "value": "={{ $json.body.compare }}",
              "type": "string"
            },
            {
              "id": "2c1f83c2-d13b-4c21-9eeb-820b68e1ccb0",
              "name": "date",
              "value": "={{ $json.body.head_commit.timestamp }}",
              "type": "string"
            },
            {
              "id": "09b19204-ad3f-41a0-8a8c-cb1895cbe3d5",
              "name": "source",
              "value": "github",
              "type": "string"
            },
            {
              "id": "6aaea44a-8096-400c-b8c8-790dc0fd277e",
              "name": "type",
              "value": "git_push",
              "type": "string"
            },
            {
              "id": "0c9897cc-de30-4969-bf5a-a17fa97aa6d6",
              "name": "branch",
              "value": "=={{ $json.body.ref.replace('refs/heads/', '') }}",
              "type": "string"
            },
            {
              "id": "8f28d10c-836d-466a-8aaa-7310d9fb8de6",
              "name": "commit_count",
              "value": "=={{ $json.body.commits.length }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -368,
        -64
      ],
      "id": "6d14a8fd-6804-4f48-bd9b-25a1bcf6c8a0",
      "name": "SetGHData"
    },
    {
      "parameters": {
        "tableId": "posts",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "issuer",
              "fieldValue": "={{ $('SetGHData').item.json.issuer }}"
            },
            {
              "fieldId": "title",
              "fieldValue": "={{ $('SetGHData').item.json.title }}"
            },
            {
              "fieldId": "date",
              "fieldValue": "={{ $('SetGHData').item.json.date }}"
            },
            {
              "fieldId": "url",
              "fieldValue": "={{ $('SetGHData').item.json.url }}"
            },
            {
              "fieldId": "content",
              "fieldValue": "={{ $json.text }}"
            },
            {
              "fieldId": "source",
              "fieldValue": "={{ $('SetGHData').item.json.source }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        208,
        -64
      ],
      "id": "980cb09f-107f-4b32-a192-1cc32af82f49",
      "name": "Create a row",
      "credentials": {}
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=You are a professional copywriter formatting a GitHub push for Chris's portfolio timeline.\n\nA push may contain one or multiple commits. Summarize the push as one coherent update. Do not list every commit separately unless necessary. Focus on the overall technical change.\n\nRepository: {{ $json.issuer }}\nBranch: {{ $json.branch }}\nNumber of commits: {{ $json.commit_count }}\nPrimary title: {{ $json.title }}\n\nCommit messages:\n{{ $json.content }}\n\nBegin the paragraph with:\n\"Chris just pushed an update to [Repository],\"\n\nSummarize all commit messages as one coherent update. For a single-commit\npush, describe that commit normally. For a multi-commit push, combine the\nchanges into one concise summary rather than listing each commit.\n\nOutput only the final paragraph. Do not use markdown, headings, bullet points, or quotation marks.",
        "batching": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.9,
      "position": [
        -144,
        -64
      ],
      "id": "78324453-971d-4499-a8ab-35a7339f26b2",
      "name": "Copywriter"
    },
    {
      "parameters": {
        "model": "qwen/qwen3.6-flash",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        -144,
        160
      ],
      "id": "e7970188-359b-41ff-88fb-8cdbd0a9d131",
      "name": "Qwen-3.6-Flash",
      "credentials": {}
    },
    {
      "parameters": {
        "owner": {
          "__rl": true,
          "value": "christopherjnelson",
          "mode": "list",
          "cachedResultName": "christopherjnelson",
          "cachedResultUrl": "https://github.com/christopherjnelson"
        },
        "repository": {
          "__rl": true,
          "value": "autonomous-portfolio-cms",
          "mode": "list",
          "cachedResultName": "autonomous-portfolio-cms",
          "cachedResultUrl": "https://github.com/christopherjnelson/autonomous-portfolio-cms"
        },
        "events": [
          "push"
        ],
        "options": {}
      },
      "type": "n8n-nodes-base.githubTrigger",
      "typeVersion": 1,
      "position": [
        -592,
        -64
      ],
      "id": "1d1df112-f46e-4208-b496-2707e4d06837",
      "name": "Github Trigger",
      "credentials": {}
    }
  ],
  "connections": {
    "SetGHData": {
      "main": [
        [
          {
            "node": "Copywriter",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Copywriter": {
      "main": [
        [
          {
            "node": "Create a row",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Qwen-3.6-Flash": {
      "ai_languageModel": [
        [
          {
            "node": "Copywriter",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Github Trigger": {
      "main": [
        [
          {
            "node": "SetGHData",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": ""
  }
}